.product-card {
  display: flex;
  flex-direction: column;
  margin: 50px 0 50px 0;

  .image-wrapper {
    .image {
      height: 300px;
      width: 500px;
      border-radius: var(--large-border-radius);
    }
  }

  .content {
    color: var(--color-white);
    margin: 0 20px 0 20px;
    width: 500px;
  }
}
