$color-accent: var(--color-accent);

.product-card-v2 {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  overflow: hidden;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.15s ease;

  &:hover {
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2);
    scale: 1.015;
  }

  .image-wrapper {
    .image {
      width: 100%;
      height: auto;
    }
  }

  .content {
    margin: 0 20px 0 20px;
    width: 100%;

    .desc {
      margin: 10px 10px 20px 10px;
      height: 100px;
    }

    .footer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--color-secondary);
      margin-bottom: 0;
      margin-left: 0;

      .el-button {
        border-radius: 0 !important;
        background-color: var(--color-accent);
        border: none;
        padding: 25px;

        .el-icon {
          color: var(--color-white);
          font-size: 30px;
        }
      }

      .price {
        margin: 0 10px 0 10px;
      }
    }
  }
}
