.auth-layout {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  .auth-box {
    // width: 450px;
    box-shadow: var(--default-box-shadow);
    border-radius: var(--medium-border-radius);
  }
}
