/////////////////////////////////////////////////// bahij
@font-face {
    font-family: 'Bahij';
    src: url('/fonts/bahij/BahijHelveticaNeue-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}