/////////////////////////////////////////////////// bahij
@font-face {
    font-family: 'Bahij';
    src: url('/fonts/bahij/BahijHelveticaNeue-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/////////////////////////////////////////////////// roboto
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/RobotoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoThin';
    src: url('/fonts/roboto/RobotoThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('/fonts/roboto/RobotoLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('/fonts/roboto/RobotoMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBlack';
    src: url('/fonts/roboto/RobotoBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}