:root {
  --font-family: 'Bahij', 'Roboto', sans-serif;
}

html,
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

button span {
  font-family: var(--font-family);
}

.page-wrapper {
  margin-top: var(--navbar-height);
}

.cursor-pointer {
  cursor: pointer;
}

// removing scrollbar
::-webkit-scrollbar {
  /* Remove scrollbar space */
  background: transparent;
  opacity: 0;
  width: 0;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
  opacity: 0;
}
