.dashboard-page {
  display: flex;
  gap: 20px;
  padding: 20px;

  .filters {
  }

  .mobile-filters {
    display: none;
    padding: 20px 10px 20px 10px;
    gap: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.15s ease;

    .el-button {
      border-radius: 0 !important;
      padding: 20px;
    }

    &.sticky-mobile-filters {
      position: fixed;
      top: calc(var(--navbar-height) + 2 * var(--bread-crumb-height) + 10);
      left: 20px;
      right: 20px;
      z-index: 100;
      background-color: white;
    }

    &.scrolled {
      top: var(--navbar-height);
    }
  }

  .body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .products {
      padding: 30px 10px 10px 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      gap: 30px;

      @media (max-width: 992px) {
        &.scrolled {
          margin-top: calc(var(--navbar-height) + var(--bread-crumb-height));
        }
      }
    }

    @media (max-width: 576px) {
      .products {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 992px) {
  .dashboard-page {
    display: flex;
    flex-direction: column;
    padding-top: 0;

    .mobile-filters {
      display: flex;
    }

    .filters {
      display: none;
    }

    .body {
      .sort-wrapper {
        display: none;
      }

      .products {
        justify-content: center;
      }
    }
  }
}
