.app-footer {
  height: 300px;
  background-color: var(--color-accent);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 100px 100px 100px 100px;
    gap: 20px;

    .el-button {
      margin: 0 5px 0 5px;
      padding: 30px 70px 30px 70px;
      font-size: var(--large-font-size);
      width: 200px;
      letter-spacing: 1.5px;

      &.el-button--primary {
        border: 2px solid var(--color-white) !important;
      }
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    gap: 10px;
    margin: 120px 100px 120px 100px;

    span {
      color: var(--color-white);
    }

    .name {
      font-weight: bolder;
      font-size: var(--huge-font-size);
    }
  }
  @media (max-width: 700px) {
    flex-direction: column;
    height: auto;
    .buttons{
      margin: 50px 0 50px 0;
    .el-button{
      padding: 24px 56px 24px 56px;
      font-size: var(--medium-font-size);
      width: 160px;

    }
    }
    .info{
      align-items: center;
      margin: 0 0 20px 0;
      font-size: var(--medium-border-radius);
      .name{
        font-size: var(--large-border-radius) !important;
      }

    }
    
    
  }
}
