.app-footer {
    display: flex;
    height: 100px;
    background-color: var(--color-accent);
    justify-content: space-between;

    .buttons{
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        gap: 10px;
        margin: 0 30px 0 0;
        button{
          
            height: 30px;
            width: 100px;
           
        }
    }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        p{
            height: 10px;
            margin: 0 0 10px 30px;
            color: white;
        }
        
    }
}