.phone-sidebar {
  .body {
    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;

      .el-button {
        width: 50%;
        padding: 20px;
        font-size: var(--large-font-size);
      }
    }

    .menu {
      margin-top: 50px;

      ul {
        padding: 0;

        li {
          font-size: var(--large-font-size);
        }
      }
    }
  }
}
